//Gradient back-ground colors
$color1: #6743ff;
$color2: #322bea;

//Gradient circle color
$circle-color1:#4c22cb;
$circle-color2:#4734f0;


//Text color
$text-color:#fff;

.container-result{
    
    display: flex;
    flex-direction: column;
    background-image: linear-gradient($color1,$color2);
    color: $text-color;
    width: 364px;
    padding: 2rem;
    text-align: center;
    border-radius: 25px;

    h1{
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
}
.circle{
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-image: linear-gradient($circle-color1,$circle-color2);
    
    strong{
        margin-top: 30px;
        font-size: 56px;
    }

    p{
        color:#7061f5;
    }
}

.text-result{
    align-self: center;
    font-weight: 300;
    font-size: 18px;
    width:250px;
    color:#b7b8f8;
    
    .text-bold{
        font-size: 24px;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 10px;
        color:#fff;
    
    }
}

@media only screen and (max-width: 375px) {
    .container-result{
        border-radius: 0 0 25px 25px;
        width: 83%;
        font-size: 12px;
        
    }
  }